.NewDailyDiary {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.NewDailyDiary label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewDailyDiary input,
.NewDailyDiary textarea,
.NewDailyDiary select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.NewDailyDiary button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #05668d;
    background-color: transparent;
    color: #05668d;
    cursor: pointer;
}

.NewDailyDiary button:hover,
.NewDailyDiary button:active {
    color: white;
    background-color: #05668d;
}